{% extends 'base.html'%}


{% block head %} 
<style>
    /*Add borders for tabs*/
    .tab-content{
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px;
    }
    .nav-tabs{
        margin-bottom: 0;
    }
    .dropdown-menu a:hover{
        background-color:turquoise;
    }
    .clearResultBtn{
        color: #f8d40a;
        background-color: #fff ;
        border-color: #f8d40a;
        margin-left:auto;

    }
</style>



<title> Grizzly framework </title>

 
{% endblock %}


{% block body %} 

<div class="container">
<!--The upper part of the page(sections above the graphs)-->
    <!--First row containing dropdown and disabled input field-->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <!-- Drop down menu for the set of pre-defined examples on the top left of the screen-->
            <div class="dropdown">
                 <button class="btn btn-default btn-block dropdown-toggle col-12" style="margin-top: 12px; background-color:beige;" type="button" id="dropdownMenu1" data-bs-toggle="dropdown" aria-expanded="false"> 
                     Select example
                </button>

                <ul class="dropdown-menu col-12" style="background-color:beige;">
                    <li><a class="dropdown-item" id="example1">Example1</a></li>
                    <li><a class="dropdown-item" id="example2">Example2</a></li>
                    <li><a class="dropdown-item" id="example3">Example3</a></li>
                    <li><a class="dropdown-item" id="example4">Example4</a></li>
               </ul>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <!--Disabled input Field-->
            <div class="input-group" style="margin-top: 12px;">
                
                <span class="input-group-text col-2" id="basic-addon1">Name</span>
                <input type="text" id="codeExName" class="form-control" style="margin-right: 16px;" placeholder="Run" aria-label="codeexecution" aria-describedby="basic-addon1" disabled >

            </div>

        </div>  
    </div>

    <!--Second Row containing Labels and buttons-->
    <div class="row">
        
        <form role="form" action="/codeExecution" method="POST"> 
            <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group" style="margin-top: 6px;margin-bottom: 4px;">
                <label class="col-10">Create a <b>Grizzly</b> script</label>
                <input type="submit" value= "Show SQL" formaction="/showSQL" class="btn-sm btn-primary" style="padding: 5px;">
                <textarea class="form-control" style="margin-top: 4px; margin-bottom: 2px;" name="gcode" id="gcode" rows="8"></textarea>                     
            </div>
        </div> 
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form-group" style="margin-top: 6px;margin-bottom: 4px;">
                <label class="col-9">Create a <b>Pandas</b> script</label>
                <input type="submit" id="pandasExecution" name="pandasExecution" value= "Run" class="btn btn-sm btn-success col-2" style="margin-left:auto; padding: 5px;">
                <textarea class="form-control" style="margin-top: 4px; margin-bottom: 2px;" name="pcode" id="pcode" rows="8"></textarea>                     
            </div> 
        </div>
       </form> 
        
    </div>
<!--The remaining part of the page(Graphs and Results)-->
   <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        
    <ul class = "nav nav-tabs" id="mytabs" role="tablist">
       <li class="nav-item" role="presentation">
            <a class="nav-link active" id="stat-tab" data-bs-toggle="tab" href="#stats" role="tab" aria-controls="stats" aria-selected="true" >Statistics</a>
       </li>

       <li class="nav-item" role="presentation"> 
           <a class="nav-link" id="results-tab" data-bs-toggle="tab"  href = "#results" role="tab" aria-controls="results" aria-selected="false"> Results </a>
       </li>
       <button id="clresults" type="submit" class="btn btn-sm clearResultBtn">Clear Results</button>
    </ul>
    <div class="tab-content" id="TabContents">
        <div class="tab-pane fade show active" id="stats" role="tabpanel" aria-labelledby="stat-tab">
            <div id="chart1_div"></div>
            <div id="chart2_div"></div>
        </div>
        <div class="tab-pane fade" id="results" role="tabpanel" aria-labelledby="results-tab">This shows the tables</div>
        
    </div>

    </div>
   </div>
    
       
</div>

<script type = "text/javascript" src = "/static/scripts/myScripts.js" ></script>
<script type = "text/javascript" src = "/static/scripts/chartScript.js" ></script>

{% endblock %}
